body {
    font-family: 'Galada', cursive;
    font-size: 20px;
}

/* Logo */
.logo{
    padding: 0 100px;
}
.logo img {
    width: 355px;

}

.logo ul {
    list-style-type: none;
}

.logo .align-self-end a {
    text-decoration: none;
    color: rgba(82, 64, 120, 0.9);
}

.logo .align-self-end a:hover {
    color: #000000;
}
/* END Logo */

/* Menu */
.containermenubar{
    background-color: rgba(82, 64, 120, 0.9) !important;
    padding: 0 100px;
}
.containermenubar .dropdown-menu{
    width: 500px;
    float:right !important;
}
.containermenubar .dropdown-menu a{
    color: black;
}
.containermenubar .dropdown-menu .dropdown-header{
    font-size: 20px;
}
.containermenubar .dropdown-menu a:hover{
    background-color: rgba(82, 64, 120, 0.9);
    color: white;
}
.menu li .nav-link {
    color: white !important;
}

.menu li .nav-link:hover {
    color: black !important;
}

.menu .navbar-toggler img {
    width: 53px;
    border-radius: 50px;
}

/* END Menu */


/* Content */
/* Welcome */
.container .welcome .col-8{
    font-size: 33px;
}
.container .hr1 {
    border: solid 1px rgb(62, 44, 100, 0.6);
    border-radius: 20px;
    width: 66%
}

.container .welcome .col-12 h1 {
    color: rgb(62, 44, 100, 0.6);
}

.container .welcome .col-12 span {
    color: #222222;
}

/* END Welcome */

/* Discover */

.container .discover .hr2 {
    border: solid 1px rgb(62, 44, 100, 0.6);
    border-radius: 20px;
    width: 20%;
}

.container .discover img {
    width: 350px;
    height: 220px;
    border: solid 2px rgba(82, 64, 120, 0.7);
    border-radius: 12px;
}

.container .discover .row a {
    color: black;
}

.container .discover .row a:hover {
    color: blue;
}

/* END discover */

/* Kind of furniture materials */
.container .kindfur {
    margin-top: 170px;
}

.container .kindfur img {
    width: 80px;
    height: 80px;
}

.container .kindfur hr {
    border: solid 1px rgb(62, 44, 100, 0.6);
    border-radius: 20px;
    width: 50%;
}

/* END Kind of furniture materials */

/* Introduce products */
.container .hr3 {
    border: solid 1px rgb(62, 44, 100, 0.6);
    border-radius: 20px;
    width: 85%;
}
.container .card{
    transition: .3s;
    box-sizing: border-box;
}
.container .card:hover{
    cursor: pointer;
    border: solid 1px purple;
}
.container .card:hover +.container .productss .card-body{
    border-top: solid 1px purple;
}
.container .productss .row a{
    color: black;
    transition: .3s;
    text-align: center;
}
.container .productss .row a:hover{
    text-decoration: none;
    color: red;
}
.container .productss img {
    height: 250px;
    width: auto;
}
.container .productss p {
    margin: 0;
}
.container .productss .card-body {
    border-top: solid thin #d8d8d8;
    padding: 10px;
}


/* END Introduce products */

/* END Content */




/* Footer */
.hr6 {
    width: 86%;
    border: solid 1px rgb(62, 44, 100, 0.6);
    border-radius: 20px;
    margin: 30px;
}

.footer {
    background-color: #f1f1f1;
}

.footer .container a:hover {
    color: orange !important;
}

.footer .container .col-sm-12 {
    padding: 0;
}

.footer .container a {
    font-size: 18px;
}

.footer .container h4 {
    font-size: 20px;
}

.footer .container .texticonfooter span {
    font-size: 18px;
}

.footer .container .iconfooter {
    font-size: 15px;
    margin-bottom: 18px;
}

/* END Footer */