
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Welcome -->
<div class="welcome">
    <div class="row text-center mt-5">
        <div class="col-12">
            <h1 class="mb-0">Phương Nam</h1>
        </div>
        <hr class="hr1 mx-auto mt-2" />
        <div class="col-8 offset-2 font-italic">
            "Việc đọc rất quan trọng. Nếu bạn biết cách đọc, cả thế giới sẽ mở ra cho bạn.”
        </div>
    </div>
</div>
<!-- END Welcome -->
<!-- Productss -->

<div class="productss productss1">
    <hr class="hr3 mx-auto mt-2" />
    <div class="row mb-4">
        <div class="col-12 col-md-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/Multi/books/1.jpg">
                    <div class="card-body">
                        <p>Jack & Đom Đóm</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-3 d-none d-md-block">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/Multi/books/2.jpg">
                    <div class="card-body">
                        <p>Chuyện Tình Thanh Xuân</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-3 d-none d-md-block">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/Multi/books/3.jpg">
                    <div class="card-body">
                        <p>Thanh gươm diệt quỷ</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-3 d-none d-md-block">
            <a href="~/pages/sach/muonkiep.html">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/Multi/books/4.jpg">
                    <div class="card-body">
                        <p>Muôn kiếp thiên sinh</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 col-md-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/Multi/books/9.jpg">
                    <div class="card-body">
                        <p>Bài tập tin học</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-3 d-block">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/Multi/books/10.jpg">
                    <div class="card-body">
                        <p>Hướng dẫn tin học lớp 3</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-3 d-block">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/Multi/books/11.jpg">
                    <div class="card-body">
                        <p>Chinh phục đề thi lớp 10</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-3 d-block">
            <a href="#">
                <div class="card"> 
                    <img class="card-img-top" src="~/Assets/Multi/books/12.jpg">
                    <div class="card-body">
                        <p>Chinh phục chuyên Anh</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 col-md-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/Multi/books/13.jpg">
                    <div class="card-body">
                        <p>Donald J.Trump</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-3 d-block">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/Multi/books/14.jpg">
                    <div class="card-body">
                        <p>Từ vựng tiếng Anh lớp 3</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-3 d-block">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/Multi/books/15.jpg">
                    <div class="card-body">
                        <p>Chồng của em tôi</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-3 d-block">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/Multi/books/16.jpg">
                    <div class="card-body">
                        <p>Pháp luật năm 2012</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 col-md-3">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/Multi/books/17.jpg">
                    <div class="card-body">
                        <p>Chính sách với dân tộc thiểu số</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-3 d-block">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/Multi/books/18.jpg">
                    <div class="card-body">
                        <p>Bảo tồn di sản văn hóa</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-3 d-block">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/Multi/books/19.jpg">
                    <div class="card-body">
                        <p>Tinh thần pháp luật</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-3 d-block">
            <a href="#">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/Multi/books/20.jpg">
                    <div class="card-body">
                        <p>Pháp luật về hợp đồng trong thương mại & đầu tư</p>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="mt-4">
    </a>
    <nav aria-label="Page navigation example mx-auto d-flex">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<!-- END Productss -->
<!-- END Introduce products -->
<!-- Intro Phương Nam -->
<div class="mt-4">
    <h4 class="text-center mb-0">
        Giới thiệu về nhà sách <span class="pp">Phương Nam</span>
    </h4>
    <div class="container">
        <hr class="hr5 mx-auto mt-2">
        <p class="my-2">
            <span class="font-weight-bold">Nhà sách Phương Nam</span>Tháng 02.1982, công ty Văn hóa Dịch vụ Tổng hợp Quận 11 được thành lập, trực thuộc phòng VHTT Quận 11 chính là tiền thân của Công ty Cổ phần Văn hóa Phương Nam ngày nay. Tháng
            08.1999, trải qua quá trình phát triển lớn mạnh không ngừng, đa dạng hóa sản phẩm và dịch vụ sang các lĩnh vực như điện ảnh ( hãng phim Phương Nam), in ấn ( Xưởng in Phương Nam),... Công ty Phương Nam hoàn tất tiến trình cổ phần hóa,
            trở thành Công ty Cổ phần SXKD Vật phầm Văn hóa Phương Nam, đánh dấu một giai đoạn chuyển mình đầy cơ hội và thách thức. Tháng 05.2004, với 6 chi nhánh đặt tại các vùng trọng điểm như Hà Nội, Huế, Đà Nẵng, Cần Thơ... cùng với hơn 20
            trung tâm phát hành lớn trong cả nước, Phương Nam chính thức đổi tên thành Công ty Cổ phần Văn hóa Phương Nam. Đến nay, cùng với các đối tác lớn như Tập đoàn Envoy Media (Mỹ), Longman (Anh), Indochina Capital, Caravelle Fund, East
            Media Holdings Incorpration (EMHI) ... Phương Nam đang phát triển sang các lĩnh vực như kinh doanh khai thác cụm rạp chiếu phim cao cấp, phát hành độc quyền... đón đầu thời kỳ hội nhập mới trong tương lai.
        </p>
    </div>
</div>
<!-- Intro Phương Nam -->
