
@{
    ViewBag.Title = "Sach";
    Layout = "~/Views/Shared/_ContainerLayout.cshtml";
}

<div class="home-filter grid__row">
    <div class="card grid__column-3 p-0 ">
        <div class="bg-image hover-overlay ripple p-0 m-1" data-mdb-ripple-color="light">
            <img width="100%" src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to.
            </p>
            <a href="#!" class="price price_color">Button</a>
        </div>
    </div>
    <div class="card grid__column-3 p-0 ">
        <div class="bg-image hover-overlay ripple p-0 m-1" data-mdb-ripple-color="light">
            <img width="100%" src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to.
            </p>
            <a href="#!" class="price price_color">Button</a>
        </div>
    </div>
    <div class="card grid__column-3 p-0 ">
        <div class="bg-image hover-overlay ripple p-0 m-1" data-mdb-ripple-color="light">
            <img width="100%" src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to.
            </p>
            <a href="#!" class="price price_color">Button</a>
        </div>
    </div>
    <div class="card grid__column-3 p-0 ">
        <div class="bg-image hover-overlay ripple p-0 m-1" data-mdb-ripple-color="light">
            <img width="100%" src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to.
            </p>
            <a href="#!" class="price price_color">Button</a>
        </div>
    </div>
    <div class="card grid__column-3 p-0 ">
        <div class="bg-image hover-overlay ripple p-0 m-1" data-mdb-ripple-color="light">
            <img width="100%" src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to.
            </p>
            <a href="#!" class="price price_color">Button</a>
        </div>
    </div>
    <div class="card grid__column-3 p-0 ">
        <div class="bg-image hover-overlay ripple p-0 m-1" data-mdb-ripple-color="light">
            <img width="100%" src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to.
            </p>
            <a href="#!" class="price price_color">Button</a>
        </div>
    </div>
    <div class="card grid__column-3 p-0 ">
        <div class="bg-image hover-overlay ripple p-0 m-1" data-mdb-ripple-color="light">
            <img width="100%" src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to.
            </p>
            <a href="#!" class="price price_color">Button</a>
        </div>
    </div>
    <div class="card grid__column-3 p-0 ">
        <div class="bg-image hover-overlay ripple p-0 m-1" data-mdb-ripple-color="light">
            <img width="100%" src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to.
            </p>
            <a href="#!" class="price price_color">Button</a>
        </div>
    </div>
</div>

